@import url('reset.css');

body{
    background-color: #232845;
}

/* Grid大爸爸 */
.container {  
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; */
    grid-template-columns: repeat(12,1fr) ;
    /* grid-template-columns: repeat(auto-fill, minmax(100px)) ; */
    grid-row: auto;
    /* grid-template-rows: 140px 340px 500px 600px 900px 550px; */
    /* grid-template-rows: repeat(6,1fr) ; */
    column-gap: 15px;
    grid-template-areas:
      " container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top"
      " container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top"
      " header header header header header header header header header header header header"
      " main main main main main main main main main main main main"
      " bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom"
      " footer footer footer footer footer footer footer footer footer footer footer footer";


}

.container_top{
    position: relative;
    grid-area: container_top;
    width: 1135px;
    margin: 0 auto;
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: auto ;
    grid-template-areas:
    " logo nav nav nav nav nav nav nav nav nav nav nav"
    " banner banner banner banner banner banner banner banner banner banner banner banner";
}

  /* 左上LOGO */
  .logo {}

  .logo a{}
         
  .logo img{
      width: 125px;
      position: absolute;
      top:30px;
      left:0px;
      z-index: 1;
  }
  
    /* 選單列 */
    .nav {
        grid-area: nav; 
        width: 950px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: auto;
    }
    
    .navbar{
        display: flex;
        background-image: url(../img/about/nav.png);
        background-repeat: no-repeat;  
        background-size: contain;
        justify-content: flex-end;
    }
    
    .navbar li{
        flex-grow: 1;
    }
    
    .navbar a{
        display: block;
        line-height: 50px;
        text-decoration: none;
        color: #BD9F6D;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    
    .navbar_main::before{
        content: "";
        position: absolute;
        transition: 0.3s;
        left: 50px;
        bottom: 15px;
        width: 60px;
        height: 1px;
        background-color: white;
        transform: scaleX(0);
    }
    
    .navbar_inner{
        border: 2px solid #BD9F6D;
        box-sizing: border-box;
        display: block;
        margin-top: -5px;
        background-color:#151A2D;
        position: absolute;
        z-index: 2;
        display: none;
    }
    
    .navbar_inner a{
        width: 160px;
    }

  /* 關於我們Banner */
.banner {
    grid-area: banner;
    width: 1135px;
    height: 340px;
    margin: 0 auto;
    background-image: url("..//img/about/banner.png");
    background-size:contain ;
 }

  /* 校長 */
.header { 
    grid-area: header;
    width: 1135px;
    margin: 0 auto;
 }

 /* 校長:導覽列 */
.header_top{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0px;
}

.header_top a{
    text-decoration: none;
}

.header_top img{
    width: 10px;
    height: 20px;
    margin: 0 15px;
}

.header_top h5{
    font-size: 18px;
    color: #BD9F6D; 
}

.header_top h6{
    font-size: 18px;
    color: white;
}

/* 校長:校長介紹 */

.header_main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/about/cat\ footprint.png");
    background-repeat: no-repeat;
    background-size: 157px 145px;
    background-position: 940px 230px; 
    margin-bottom: 50px;
    
}

.mainpic{
    width: 328px;
    height: 438px;
    outline: 0.5px solid #BD9F6D;
    margin-right: 50px;
}

.header h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.header p{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 30px 0;
    line-height: 1.6;
}

.header span{
    font-size: 20px;
    color: #BD9F6D;
    font-weight: bold;
}
  
  /* 校園新聞 */
.main { 
    grid-area: main;
    background-color: #151A2D;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 校園新聞:校史導覽 */
.main_left{
    width: 230px;
    height: 500px;
    border-right: 0.5px solid #BD9F6D;
    padding: 15px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_left h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.main_left p{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 30px 0;
    line-height: 1.6;
}

.main_left img{
    width: 215px;
    height: 150px;
}

.main_left a{
    font-size: 16px;
    font-weight: bold;
    color:#BD9F6D;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

/* 校園新聞:傑出校友 */
.main_mid{
    display: flex;
}

.main_mid li{
    width: 280px;
    height: 500px;
    margin-left: 30px;
}

.main_mid img{
    width: 280px;
    height: 290px;
}

.main_mid h2{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.main_mid p{
    font-size: 16px;
    color: white;
    font-weight: bold;
    line-height: 1.6;
}

/* 校園新聞:右側數據列 */
.main_right{
    height: 500px;
    margin-left: 30px;
    padding: 15px;
    border-left: 0.5px solid #BD9F6D; 
}

.main_right li{}

.main_right h1{
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.main_right h2{
    font-size: 80px;
    font-weight: bold;
    color:#BD9F6D;}

.main_right h3{
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.main_right li:nth-child(2){
    margin: 70px 0;
}


  /* 校園地圖 */
.bottom { 
      grid-area: bottom;
      width: 1135px;
      margin: 0 auto;
}

.bottom h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.map{
    width: 1135px;
    height: 755px;
    background-color: #151A2D;
    border: 2px solid #151A2D;
    box-shadow: 0 0 5px 5px #151A2D;
}

.bottom_map{
    width: 1135px;
    height: 755px;
    position: relative;
    margin-bottom: 50px;
}

/* 學校機構漂浮動畫 */
@keyframes floating1 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -15px); }
    100%   { transform: translate(0, -0px); }   
}

.pic1{
    position: absolute;
    top:55px;
    right:0px;
    left:200px;
    bottom:0px;
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.pic2{
    position: absolute;
    top:95px;
    right:0px;
    left:410px;
    bottom:0px;
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.pic3{
    position: absolute;
    top:120px;
    right:0px;
    left:625px;
    bottom:0px;
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.pic4{
    position: absolute;
    top:15px;
    right:0px;
    left:810px;
    bottom:0px;
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.pic5{
    position: absolute;
    top:350px;
    right:0px;
    left:110px;
    bottom:0px;
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.pic6{
    position: absolute;
    top:450px;
    right:0px;
    left:435px;
    bottom:0px;
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.pic7{
    position: absolute;
    top:410px;
    right:0px;
    left:640px;
    bottom:0px;
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.pic8{
    position: absolute;
    top:450px;
    right:0px;
    left:885px;
    bottom:0px;animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


  /* Footer */
.footer {
    grid-area: footer;
    background-color: #151A2D;
}
/* footer:上半部 */
.footer_top{
    width: 1135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer_top_left{
    margin-left: 50px;
    margin-right: 100px;
}

.footer_logo{
    width: 145px;
    height: 210px;
    margin-left: 150px;
}

.footer_top_left h1{
    font-size: 24px;
    font-weight: bold;
    color: #BD9F6D;
    opacity: 0.6;
    line-height: 1.6;
    margin-bottom: 30px;
}

.footer_top_left span{
    font-size: 16px;
    font-weight: bold;
    color: white;
    opacity: 0.6;
    line-height: 1.6;
}

.footer_top_right{
    align-self: flex-end;
    margin-right: 150px;
    margin-bottom: 10px;
}

.footer_top_right ul{
    display: flex;
}

.footer_top_right li{
    margin-right: 30px;
}

.footer_top_right img{
    width: 40px;
    height: 40px;
}

  /* footer:下半部 */
.footer_bottom{
    width: 1135px;
    margin: 0 auto;
    border-top: 0.5px solid #BD9F6D;
}

.footer_bottom h3{
    font-size: 10px;
    color: #BD9F6D;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.footer_bottom p{
    font-size: 10px;
    color: #BD9F6D;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}


/* 動畫互動效果 */
.navbar a:hover{
    color: white;
    transform: scale(1.2);
}

.navbar :nth-child(5):hover .navbar_inner{
    display: block;
    opacity: 0.8;
}

.navbar_main:hover:before{
    transform: scaleX(1);
}

  