@import url('reset.css');

body{
    background-color: #232845;
}

/* Grid大爸爸 */
.container {  
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: auto;
    grid-template-areas:
      " container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top"
      " container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top"
      " main main main main main main main main main main main main"
      " bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom"
      " footer footer footer footer footer footer footer footer footer footer footer footer";
}

.container_top{
    position: relative;
    grid-area: container_top;
    width: 1135px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: auto ;
    grid-template-areas:
    " logo nav nav nav nav nav nav nav nav nav nav nav"
    " banner banner banner banner banner banner banner banner banner banner banner banner";
}

/* 左上LOGO */
.logo {}

.logo a{}
       
.logo img{
    width: 125px;
    position: absolute;
    top:30px;
    left:0px;
    z-index: 1;
}

  /* 選單列 */
.nav {
    grid-area: nav; 
    width: 950px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
}

.navbar{
    display: flex;
    background-image: url(../img/about/nav.png);
    background-repeat: no-repeat;  
    background-size: contain;
    justify-content: flex-end;
}

.navbar li{
    flex-grow: 1;
}

.navbar a{
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #BD9F6D;
    text-align: center;
    font-weight: bold;
}

/* 關於我們Banner */
.banner {
  grid-area: banner;
  width: 1135px;
  height: 340px;
  margin: 0 auto;
  background-image: url("..//img/activity2/banner.png");
  background-size:contain ;
}

  /* 活動報名 :課程介紹 */
.main { 
    grid-area: main;
    width: 1135px;
    margin: 0 auto;
}

/* 活動報名:導覽列 */
.main_top{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0px;
}

.main_top a{
    text-decoration: none;
}

.main_top img{
    width: 10px;
    height: 20px;
    margin: 0 15px;
}

.main_top h5{
    font-size: 18px;
    color: #BD9F6D; 
}

.main_top h6{
    font-size: 18px;
    color: white;
}

/* 課程介紹卡 */

/* 卡片大圖 */
.card_pic{
    width: 675px;
    height: 508px;
    outline: 0.5px solid #BD9F6D;
    position: absolute; 
    top:80px;
    left: -455px;   
}

.main_card{
    outline: 0.5px solid #BD9F6D;
    width: 675px;
    /* height: 508px; */
    margin-left: auto;
    margin-bottom: 150px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #151A2D;
    position: relative;
}

.main_card h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
}

/* 卡片上半 */
.main_card_top{
    width: 412px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 卡片上半-左邊 */
.main_card_top_left{
}

.main_card h2{
    font-size: 50px;
    color: #BD9F6D;
    font-weight: bold;
    margin-bottom: 30px;
}

.main_card h3{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 15px 0;
}

.main_card span{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.main_card_top_left img{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 5px;
}

.main_card_top_right{}

/* 卡片上半-右邊 */
.main_card_top_right img{
    width: 127px;
    height: 127px;
    border: 1px solid #BD9F6D;
    border-radius: 50%;
}

.main_card h4{
    font-size: 20px;
    color: #BD9F6D;
    font-weight: bold;
    margin-top: 20px;
}

/* 卡片下半 */
.main_card_bottom{
    width: 412px;
    margin-left: auto;
    overflow: hidden;
}

.main_card p{
    font-size: 16px;
    color: white;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 20px;
}
/* 左邊按鈕 */
.left_bottom{
    display: inline-block;
    width: 195px;
    line-height: 43px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    text-align: center;
    font-weight: bold;
    float: left;
}

/* 右邊按鈕 */
.right_bottom{
    display: inline-block;
    width: 195px;
    line-height: 43px;
    text-decoration: none;
    color: white;
    background-color: #BD9F6D;
    text-align: center;
    font-weight: bold;
    float: right;
}
/* bottom其他活動 */
.bottom{
    grid-area: bottom;
    width: 1135px;
    margin: 0 auto;
    border-top: 1px solid #BD9F6D;
}

.bottom h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin: 30px 0;
}

.bottom ul{
    outline: 0.5px solid #BD9F6D;
    display: flex;
    width: 1135px;
    height: 297px;
    margin-bottom: 30px;
    transition: 3s;
}

.bottom li{
    transition: 1.5s;
    /* width: 100%; */
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.class2{
    background-image: url("../img/activity2/class2.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.class3{
    background-image: url("../img/activity2/class3.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.class4{
    background-image: url("../img/activity2/class4.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.bottom a{
    /* outline: 1px solid #BD9F6D; */
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    line-height: 54px;
    opacity: 0;
    background-color:hsla(0, 0%, 50%, .5);

}

/* bottom動畫效果 */
.bottom li:hover{
    flex-grow: 2;
    /* transform: scale(1.1); */
    box-shadow: 10px 10px 10px #151A2D;
}

.bottom li:hover a{
    opacity: 1;
}

/* 隱藏標題 */
.class2:hover .class2_text{
    display: block;
}

.class3:hover .class3_text{
    display: block;
}
.class4:hover .class4_text{
    display: block;
}

 /* Footer */
 .footer {
    grid-area: footer;
    background-color: #151A2D;
}
/* footer:上半部 */
.footer_top{
    width: 1135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer_top_left{
    margin-left: 50px;
    margin-right: 100px;
}

.footer_logo{
    width: 145px;
    height: 210px;
    margin-left: 150px;
}

.footer_top_left h1{
    font-size: 24px;
    font-weight: bold;
    color: #BD9F6D;
    opacity: 0.6;
    line-height: 1.6;
    margin-bottom: 30px;
}

.footer_top_left span{
    font-size: 16px;
    font-weight: bold;
    color: white;
    opacity: 0.6;
    line-height: 1.6;
}


.footer_top_right{
    align-self: flex-end;
    margin-right: 150px;
    margin-bottom: 10px;
}

.footer_top_right ul{
    display: flex;
}

.footer_top_right li{
    margin-right: 30px;
}

.footer_top_right img{
    width: 40px;
    height: 40px;
}

  /* footer:下半部 */
.footer_bottom{
    width: 1135px;
    margin: 0 auto;
    border-top: 0.5px solid #BD9F6D;
}

.footer_bottom h3{
    font-size: 10px;
    color: #BD9F6D;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.footer_bottom p{
    font-size: 10px;
    color: #BD9F6D;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}


/* 動畫互動效果 */
.navbar a:hover{
    color: white;
    transform: scale(1.2);
}