@import url('reset.css');

body{
    background-color: #232845;
}

/* Grid大爸爸 */
.container {  
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: auto;
    column-gap: 15px;
    grid-template-areas:
      " container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top"
      " container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top container_top"
      " main main main main main main main main main main main main"
      " footer footer footer footer footer footer footer footer footer footer footer footer";
}

.container_top{
    position: relative;
    grid-area: container_top;
    width: 1135px;
    margin: 0 auto;
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(12,1fr) ;
    grid-template-rows: auto ;
    grid-template-areas:
    " logo nav nav nav nav nav nav nav nav nav nav nav"
    " banner banner banner banner banner banner banner banner banner banner banner banner";
}


  /* 左上LOGO */
  .logo {}

  .logo a{}
         
  .logo img{
      width: 125px;
      position: absolute;
      top:30px;
      left:0px;
      z-index: 1;
  }
  
    /* 選單列 */
  .nav {
      grid-area: nav; 
      width: 950px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-left: auto;
  }
  
  .navbar{
      display: flex;
      background-image: url(../img/about/nav.png);
      background-repeat: no-repeat;  
      background-size: contain;
      justify-content: flex-end;
  }
  
  .navbar li{
      flex-grow: 1;
  }
  
  .navbar a{
      display: block;
      line-height: 50px;
      text-decoration: none;
      color: #BD9F6D;
      text-align: center;
      font-weight: bold;
  }

/* 學院介紹Banner */
.banner {
    grid-area: banner;
    width: 1135px;
    height: 340px;
    margin: 0 auto;
    background-image: url("../img/department/banner.png");
    background-size:contain ;
 }
 /* 學院介紹:導覽列 */
.main_top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main_top a{
    text-decoration: none;
}
.main_top img{
    width: 10px;
    height: 20px;
    margin: 0 15px;
}
.main_top h5{
    font-size: 18px;
    color: #BD9F6D; 
}
.main_top h6{
    font-size: 18px;
    color: white;
}

/* 四大學院主圖 */
.main{
    grid-area: main;
    width: 1135px;
    margin: 0 auto;
}

.main_mid h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_mid img{
    display: block;
    width: 284px;
}

.card_container{
    display: flex;
    height: 721px;
    margin-bottom: 50px;
}
/* 紅色卡片 */
.red1{
    perspective: 500px;
    width: 284px;
    position: relative;
    transition: 2s;
}

.red1_front{
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 0.8s;
}

.red1_back{
    position: absolute;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: 0.8s;
}

.red1:hover .red1_front{
    transform: rotateY(-180deg);
}

.red1:hover .red1_back{
    transform: rotateY(0deg);
}

.red1:hover .gif1{
    /* transform: scale(1.2); */
}


/* 綠色卡片 */

.green2{
    perspective: 500px;
    width: 284px;
    position: relative;
}

.green2_front{
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 0.8s;
}

.green2_back{
    position: absolute;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: 0.8s;
}

.green2:hover .green2_front{
    transform: rotateY(-180deg);
}

.green2:hover .green2_back{
    transform: rotateY(0deg);
}

/* 藍色卡片 */
.blue3{
    perspective: 500px;
    width: 284px;
    position: relative;
}

.blue3_front{
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 0.8s;
}

.blue3_back{
    position: absolute;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: 0.8s;
}

.blue3:hover .blue3_front{
    transform: rotateY(-180deg);
}

.blue3:hover .blue3_back{
    transform: rotateY(0deg);
}

/* 黃色卡片 */
.yellow4{
    perspective: 500px;
    width: 284px;
    position: relative;
}

.yellow4_front{
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 0.8s;
}

.yellow4_back{
    position: absolute;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: 0.8s;
}

.yellow4:hover .yellow4_front{
    transform: rotateY(-180deg);
}

.yellow4:hover .yellow4_back{
    transform: rotateY(0deg);
}

/* gif圖檔 */
.gif1{
    max-width: 60%;
    border-radius: 10%;
    border: 3px solid #BD9F6D;
    position: absolute;
    top: 160px;;
    left: 52px;
    transition: 1s;
}

/* 卡片文字內容 */
.card_text{
    padding: 35px;
    position: absolute;
    top:330px;
    left: 8px;
}

.card_text h2{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #BD9F6D;
    padding: 10px;
}

.card_text p{
    line-height: 1.6;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

 /* Footer */
.footer {
    grid-area: footer;
    background-color: #151A2D;
}
/* footer:上半部 */
.footer_top{
    width: 1135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer_top_left{
    margin-left: 50px;
    margin-right: 100px;
}

.footer_logo{
    width: 145px;
    height: 210px;
    margin-left: 150px;
}

.footer_top_left h1{
    font-size: 24px;
    font-weight: bold;
    color: #BD9F6D;
    opacity: 0.6;
    line-height: 1.6;
    margin-bottom: 30px;
}

.footer_top_left span{
    font-size: 16px;
    font-weight: bold;
    color: white;
    opacity: 0.6;
    line-height: 1.6;
}

.footer_top_right{
    align-self: flex-end;
    margin-right: 150px;
    margin-bottom: 10px;
}

.footer_top_right ul{
    display: flex;
}

.footer_top_right li{
    margin-right: 30px;
}

.footer_top_right img{
    width: 40px;
    height: 40px;
}

  /* footer:下半部 */
.footer_bottom{
    width: 1135px;
    margin: 0 auto;
    border-top: 0.5px solid #BD9F6D;
}

.footer_bottom h3{
    font-size: 10px;
    color: #BD9F6D;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.footer_bottom p{
    font-size: 10px;
    color: #BD9F6D;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}


/* 動畫互動效果 */
.navbar a:hover{
    color: white;
    transform: scale(1.2);
}