@import url("reset.css");

body{
    background-color: #232845;
}

.container {  
    margin: 0 auto;
}

.header{
    background-color: #232845;
    box-sizing: border-box;
    position: relative;
    width: 1135px;
    margin: 0 auto;
}

/* 口口口口口口口口口口第一區塊口口口口口口口口口口*/

/* logo */
.logo {}

.logo a{}
       
.logo img{
    width: 125px;
    position: absolute;
    top:30px;
    left:0px;
    z-index: 1;
}

  /* 選單列 */
.nav {
    grid-area: nav; 
    width: 950px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
}

.navbar{
    display: flex;
    background-image: url(../img/about/nav.png);
    background-repeat: no-repeat;  
    background-size: contain;
    justify-content: flex-end;
}

.navbar li{
    flex-grow: 1;
}

.navbar a{
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #BD9F6D;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.navbar_main::before{
    content: "";
    position: absolute;
    transition: 0.3s;
    left: 50px;
    bottom: 15px;
    width: 60px;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
}

.navbar_inner{
    border: 2px solid #BD9F6D;
    box-sizing: border-box;
    display: block;
    margin-top: -5px;
    background-color:#151A2D;
    position: absolute;
    z-index: 2;
    display: none;
}

.navbar_inner a{
    width: 160px;
}



/* 動畫互動效果 */
.navbar a:hover{
    color: white;
    transform: scale(1.2);
}

.navbar :nth-child(5):hover .navbar_inner{
    display: block;
    opacity: 0.8;
}

.navbar_main:hover:before{
    transform: scaleX(1);
}

/* banner 輪播圖 */
#sliderBoard{                      /*div*/
    width: 100%;
    overflow: hidden;
}                     

#banner_container{               /*ul*/
    width: 1135px;
    height: 638px;
    text-align: center;
    position: relative;
}

#banner_container img{              /*藍色圓角圖*/
    width: 18%;
    display: block;
}

#banner_container li{               /*li*/
    float: left;
}

.banner1{
    background-image: url(../img/mainpage/banner1-1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner2{
    background-image: url(../img/mainpage/banner2-1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner3{
    background-image: url(../img/mainpage/banner3-1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* 輪播圖_圓圈圈 */
#banner_button{
    text-align: center;
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: -50px;
}

#banner_button li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

#banner_button li.clickme{
    background-color: #BD9F6D;
}

/* 最新活動 */
.left{
}

.activity{
    display: flex;
}

.activity h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.activity h2{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.activity span{
    font-size: 54px;
    font-weight: bold;
    color: #BD9F6D;
    text-decoration-line:underline;
    text-decoration-color: white;
    margin-bottom: 10px;
    
}


.activity h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.activity li{
    width: 1135px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.activity:first-child{
    align-items: center;
    justify-content: center;
}

.right{}

/* 口口口口口口口口口口第二區塊口口口口口口口口口口*/

.main_1{
    background-color: #151A2D;
    min-width: 1135px;
}

/* 校園新聞 */
.news{
    width: 1135px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.news li{
    width: 329px;
    line-height: 1.6;
}

.news li:first-child{ 
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 1135px;
    margin: 30px 0;
}

.news li:nth-child(3){
    margin-right: 20px;
    margin-left: 20px;
}

.news img{
    width: 329px;
    height: 248px;
    outline: 0.3px solid #BD9F6D;
}

.news h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.news p{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.news a{
    font-size: 16px;
    font-weight: bold;
    color:#BD9F6D;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 口口口口口口口口口口第三區塊口口口口口口口口口口*/

.main_2{
    background-color: #232845;
    padding-top: 30px;
}

.main_2 h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: block;
    width: 1135px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.main_2 .life{
    width: 1135px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5,1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.life1{
    width: 100%;
    height: 100%;
    grid-column: 1/5;
    grid-row: 1/6;
    border: 0.3px solid #BD9F6D;
}

.life2{
    width: 100%;
    height: 100%;
    grid-column: 5/8;
    grid-row: 1/3;
    border: 0.3px solid #BD9F6D;
}

.life3{
    width: 100%;
    height: 100%;
    grid-column: 8/11;
    grid-row: 1/3;
    border: 0.3px solid #BD9F6D;
}

.life4{
    width: 100%;
    height: 100%;
    grid-column: 5/11;
    grid-row: 3/6;
    border: 0.3px solid #BD9F6D;
}

/* 口口口口口口口口口口第四區塊footer口口口口口口口口口口*/
/* Footer */
.footer {
    background-color: #151A2D;
    padding-top: 30px;
    min-width: 1135px;
}
/* footer:上半部 */
.footer_top{
    width: 1135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}

.footer_top_left{
    margin-left: 50px;
    margin-right: 100px;
}

.footer_logo{
    width: 145px;
    height: 210px;
    margin-left: 150px;
}

.footer_top_left h1{
    font-size: 24px;
    font-weight: bold;
    color: #BD9F6D;
    opacity: 0.6;
    line-height: 1.6;
    margin-bottom: 30px;
}

.footer_top_left span{
    font-size: 16px;
    font-weight: bold;
    color: white;
    opacity: 0.6;
    line-height: 1.6;
}

.footer_top_right{
    align-self: flex-end;
    margin-right: 150px;
    margin-bottom: 10px;
}

.footer_top_right ul{
    display: flex;
}

.footer_top_right li{
    margin-right: 30px;
}

.footer_top_right img{
    width: 40px;
    height: 40px;
}

  /* footer:下半部 */
.footer_bottom{
    width: 1135px;
    margin: 0 auto;
    border-top: 0.5px solid #BD9F6D;
}

.footer_bottom h3{
    font-size: 10px;
    color: #BD9F6D;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.footer_bottom p{
    font-size: 10px;
    color: #BD9F6D;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 30px;
}

.toTop{
    /* outline: 1px solid red; */
    border: 1px solid #BD9F6D;
    display: block;
    width: 70px;
    height: 70px;
    background-color:#232845;
    position: fixed;
    right: 25px;
    bottom: 40px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: scale1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


.toTop_pic{
    /* outline: 1px solid orange; */
    width: 40px;
    height: 56px;
}

@keyframes scale1 {
    0% { transform: scale(0.8); }
    50%  { transform: scale(0.9); }
    100%   { transform: scale(0.8); }   
}

/* 動畫互動效果 */
.navbar a:hover{
    color: white;
    transform: scale(1.2);
}

.navbar :nth-child(5):hover .navbar_inner{
    display: block;
    opacity: 0.8;
}

.navbar_main:hover:before{
    transform: scaleX(1);
}

/* scrollTop動畫 */
.toTop:hover{
    background-color: #151A2D;
}
